.size{
    width: 100px;
    height: 100px;
    
}    
#blue{
    background-color: blue;

}

#red{
    background-color: red;

}

.positioning{
    background-color: rosybrown;
}

#wrapper :nth-child(2){
    background-color: seashell;
    border:3px dotted;
    position: relative;
}

#white div{
    background-color: springgreen;
    height:100px;
    widows: 100px;
    position: absolute;
    top: 25px;
    left:30px;
}

#parent div{
    background-color: lightgreen;
    border:1px solid;
}

#parent{
    display:flex;
}

#parent :nth-child(2){
    margin:0 auto;
}